@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');
@import 'tailwindcss';

@custom-variant light (&:where(.light, .light *));

/* -------------------- ПЕРЕМЕННЫЕ И УТИЛИТЫ TAILWIND -------------------- */
@theme {
	--container-width: 1250px;
	--header-hight: 105px;

	--font-texts: 'Inter', sans-serif;

	--spacing-container: 96px;
	--spacing-container-xl: 72px;
	--spacing-container-lg: 56px;
	--spacing-container-sm: 32px;

	--color-background: #21202b;
	--color-backgroundWhite: #f4f1eb;
	--color-primary: #161528;
	--color-base: #f4f1eb;
	--color-gray: #c6c6c6;
}

@layer utilities {
	.main-section {
		height: calc(100vh - var(--header-hight));
	}
}

/* ----------------------- БАЗОВЫЕ СТИЛИ ----------------------- */
html,
body,
#root {
	font-family: var(--font-texts);
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	transition: background-color 0.3s ease, color 0.3s ease;
}
* {
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* ----------------------- CSS ----------------------- */
header {
	position: fixed;
	width: 100%;
	z-index: 50;
	top: 0;
	left: 0;
	height: var(--header-hight);
}

main {
	margin-top: var(--header-hight);
}
